Library/
Temp/
Logs/
obj/
3rdParty/
Builds/
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pidb.meta
sysinfo.txt
.DS_Store
.DS_Store?
.+*
.Spotlight-V100
.Trashes
ethumbs.db
Thumbs.db
.vs/
